@import 'variables';

h1, .fontComforter {
  font-family: 'Comforter', cursive;
  font-weight: normal;
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.titulo {
  font-family: 'Comforter', cursive;
  font-weight: normal;
  color: #fff;
  font-size: 3em;
  line-height: 0.7em;
}

.theme--light h1, .theme--light .fontComforter , .theme--light .titulo {
  color: #333 !important;
}

.scrollimg {
  overflow-x: scroll;
}
.scrollimg img {
  display: block;
}

#painelBG {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  pointer-events: none;
}

.theme--dark.v-application {
  color: #dcddde !important;
}

/** SCROLL LIGHT **/
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}
::-webkit-scrollbar-thumb {
  background: #bbb;
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
::-webkit-scrollbar-corner {
  background: #bbb;
}

/** SCROLL DARK **/
.theme--dark ::-webkit-scrollbar {
  width: 15px;
}
.theme--dark ::-webkit-scrollbar-track {
  background: #202225;
  border-left: 1px solid #2c2c2c;
}
.theme--dark ::-webkit-scrollbar-thumb {
  background: #2f3136;
  border: solid 3px #202020;
  border-radius: 7px;
}
.theme--dark ::-webkit-scrollbar-thumb:hover {
  background: #36393f;
}
.theme--dark ::-webkit-scrollbar-corner {
  background: #161616;
}
