@import 'variables';

@each $key, $color in $rarity-colors {
  .rarity-#{$key}--text {
    color: $color;
  }
  .rarity-#{$key} {
    background: $color;
  }
}

h1, .fontComforter {
  font-family: 'Comforter', cursive;
  font-weight: normal;
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.titulo {
  font-family: 'Comforter', cursive;
  font-weight: normal;
  color: #fff;
  font-size: 3em;
  line-height: 0.7em;
}

.theme--light h1, .theme--light .fontComforter , .theme--light .titulo {
  color: #333 !important;
}

.scrollimg {
  overflow-x: auto;
}
.scrollimg img {
  display: block;
  margin: auto;
}

.monsterIllus, .dungeonIllus {
  position: relative;
  line-height: 0;
}
.monsterIllus:after, .dungeonIllus:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.monsterIllus:after {
  background: linear-gradient(90deg, rgba(255, 255, 255,0) 0%, rgba(255, 255, 255,0) 30%, rgba(255, 255, 255,1) 80%, rgba(255, 255, 255,1) 100%)
}
.dungeonIllus:after {
  height: calc(100% - 5px);
  background: linear-gradient(90deg, rgba(255, 255, 255,0) 0%, rgba(255, 255, 255,0) 70%, rgba(255, 255, 255,1) 100%)
}
.theme--dark .monsterIllus:after {
  background: linear-gradient(90deg, rgba(47, 49, 54,0) 0%, rgba(47, 49, 54,0) 30%, rgba(47, 49, 54,1) 80%, rgba(47, 49, 54,1) 100%)
}
.theme--dark .dungeonIllus:after {
  background: linear-gradient(90deg, rgba(47, 49, 54,0) 0%, rgba(47, 49, 54,0) 70%, rgba(47, 49, 54,1) 100%)
}
.v-list-item:hover .monsterIllus:after, .v-list-item:hover .dungeonIllus:after, .v-list-item:focus .monsterIllus:after, .v-list-item:focus .dungeonIllus:after {
  background: transparent;
}

#painelBG {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  pointer-events: none;
}

.theme--dark.v-application {
  color: #dcddde !important;
}

.v-item-group.v-bottom-navigation--shift .v-btn .v-btn__content > img.img {
  opacity: 0.7;
  top: 10px;
  transform: scale(0.9);
  position: static;
}
.v-item-group.v-bottom-navigation--shift .v-btn--active .v-btn__content > img.img {
  opacity: 1;
  top: 10px;
  transform: scale(1);
  position: static;
}

.catAchiev .v-card__title{
  background: map-get($discord-colors, '3');
}
.catAchiev .catAchiev .v-card__title{
  background: map-get($discord-colors, '4');
  font-weight: lighter;
  font-size: 1.1rem;
}

/** SCROLL LIGHT **/
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}
::-webkit-scrollbar-thumb {
  background: #bbb;
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
::-webkit-scrollbar-corner {
  background: #bbb;
}

/** SCROLL DARK **/
.theme--dark ::-webkit-scrollbar {
  width: 15px;
}
.theme--dark ::-webkit-scrollbar-track {
  background: #202225;
  border-left: 1px solid #2c2c2c;
}
.theme--dark ::-webkit-scrollbar-thumb {
  background: #2f3136;
  border: solid 3px #202020;
  border-radius: 7px;
}
.theme--dark ::-webkit-scrollbar-thumb:hover {
  background: #36393f;
}
.theme--dark ::-webkit-scrollbar-corner {
  background: #161616;
}
