$discord-colors: (
  '0': #484b51,
  '1': #36393f,
  '2': #2f3136,
  '3': #2a2c31,
  '4': #202225
);

$rarity-colors: (
  '1': #00E170,
  '2': #FF7B00,
  '3': #FFD738,
  '4': #FF4BEB,
  '5': #67C1DA,
  '6': #ED6BA1
);

$body-font-family: 'Manrope', serif;

$material-light: (
  'app-bar': '#FFFFFF'
);

$material-dark: (
  'app-bar': map-get($discord-colors, '2'),
  'toolbar': map-get($discord-colors, '3'),
  'background': map-get($discord-colors, '2'),
  'bg-color': map-get($discord-colors, '1'),
  'cards': map-get($discord-colors, '2'),
  'navigation-drawer': map-get($discord-colors, '4'),
);
